  
.book-card {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    overflow: hidden;   /* VERY IMPORTANT */
}

.book-img {
    width: 100%;
    height: 160px;      /* FIXED HEIGHT */
    object-fit: cover;
    display: block;
}

.book-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
}

.book-author {
    font-size: 12px;
    color: #666;
}
section{ scroll-margin-top: 80px;}
html {scroll-behavior: smooth;}