{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h3>✏️ Edit Book</h3>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
      <label>Title</label>
      {{ form.title }}
    </div>

    <div class="mb-3">
      <label>Author</label>
      {{ form.author }}
    </div>

    <div class="mb-3">
      <label>Category</label>
      {{ form.cate }}
    </div>

    <div class="mb-3">
      <label>Image</label>
      {{ form.image }}
    </div>

    <button class="btn btn-success">Update</button>
    <a href="{% url 'manage_book' %}" class="btn btn-secondary">Back</a>
  </form>
</div>
{% endblock %}